<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <vex-loading *ngIf="submitted"></vex-loading>
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logos/osi-md.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Restablecer contraseña</h2>
      <!-- <h4 class="body-2 text-secondary m-0">¿No puedes ingresar a tu cuenta?</h4> -->
      <p class="mt-8" *ngIf="user.name">Hola, {{user.name}}</p>
    </div>

    <!-- <form [formGroup]="form" class="p-6 flex flex-col"> -->
    <form [formGroup]="resetPasswordForm" class="p-6" fxLayout="column" (ngSubmit)="resetPassword()">
      <mat-form-field>
        <mat-label>Nueva contraseña</mat-label>
        <mat-icon [icIcon]="icVpnKey" class="mr-2" matSuffix></mat-icon>
        <input type="password" formControlName="password" matInput #password required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Repita contraseña</mat-label>
        <mat-icon [icIcon]="icVpnKey" class="mr-2" matSuffix></mat-icon>
        <input type="password" formControlName="passwordConfirm" matInput required>
        <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                     resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
          Contraseña no coinciden
        </mat-error>
      </mat-form-field>

      <button class="mt-2" color="primary" mat-raised-button [disabled]="resetPasswordForm.invalid || submitted">
        GUARDAR
      </button>
      <p class="text-secondary text-center mt-4">
        ¿Ya tienes una una cuenta?
      </p>
      <a mat-button [routerLink]="['/login']">INGRESAR</a>
    </form>
  </div>
</div>