#cuenta-form { 

    .content {
        padding: 24px; 

        fieldset {            
            border: 1px solid #cccccc;
            border-radius: 8px;
            padding: 8px; 
            legend {
                padding: 0px 8px 0px 8px;
            }
        } 
    }
}