.masivo-form-dialog {
    @screen sm {
        // width: 100%;
    }

    @screen md {
        width: 900px;
    }

    .mat-dialog-container {
        padding: 0px;
        margin: 0px;
    }

    .mat-dialog-content {
        padding: 0px 16px;
        margin: 0px;
    }

    .mat-dialog-actions {
        padding: 16px 24px;
        margin: 0px;
    }

    fieldset {
        border: 1px solid #cccccc;
        border-radius: 8px;
        padding: 8px;

        legend {
            font-weight: 500;
            padding: 0px 8px 0px 8px;
        }
    }

    .loading-container {
        position: relative;
    }

    .loading-shade {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.mat-autocomplete-panel {

    // border-radius: 10px;
    // background: #F00;
    .mat-option {
        line-height: 18px;
        padding: 6px 8px;
    }

    .bordeblue {
        border: 1px solid #00F !important;
        // background: #cccccc;
    }

    .bordeblack {
        border: 1px solid black !important;
        // background: #cccccc;
    }
}