<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <vex-loading *ngIf="submitted"></vex-loading>
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logos/osi-md.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Recuperar contraseña</h2>
      <h4 class="body-2 text-secondary m-0">¿No puedes ingresar a tu cuenta?</h4>
    </div>

    <!-- <form [formGroup]="form" class="p-6 flex flex-col"> -->
    <form [formGroup]="form" class="p-6" fxLayout="column" (ngSubmit)="send()">
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <mat-icon [icIcon]="icMail" class="mr-2" matPrefix></mat-icon>
        <input formControlName="email" matInput #email required>
        <mat-error *ngIf="form.get('email').hasError('required')">
          Ingresa correo
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('email')">
          Ingresa email correcto
        </mat-error>
      </mat-form-field>
      <button class="mt-2" color="primary" mat-raised-button [disabled]="form.invalid || submitted">
        RECUPERAR
      </button>
      <p class="text-secondary text-center mt-4">
        ¿Ya tienes una una cuenta?
      </p>
      <a mat-button [routerLink]="['/login']">INGRESAR</a>
    </form>
  </div>
</div>