.item-form-dialog {

    @screen sm {
        width: 100%;
    }

    @screen md {
        width: 620px;
    }

    .mat-dialog-container {
        padding: 0px;
        margin: 0px;
    }

    .mat-dialog-content {
        padding: 0px 16px;
        margin: 0px;
    }

    .mat-dialog-actions {
        padding: 16px 24px;
        margin: 0px;
    }

    fieldset {
        border: 1px solid #cccccc;
        border-radius: 8px;
        padding: 8px;

        legend {
            font-weight: 500;
            padding: 0px 8px 0px 8px;
        }
    }

    .table-hover {
        td {
            padding: 6px 8px;
        }

        border-collapse: collapse;
        width: 100%;

        tr:nth-child(even) {
            background-color: #F5F5F5;
        }

        // tbody tr:hover td,
        // tbody tr:hover th {
        //     background-color: #F5F5F5;
        // }
    }
}

.mat-autocomplete-panel {
    .mat-option {
        line-height: 18px;
        padding: 6px 8px;
    }
}